<!DOCTYPE html>
<html ng-app="appList">
<head>
    <title>TO DO List</title>
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />-->
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />-->
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
	<!--<link href="./cod-pro-angular/Chapter01/libraries/bootstrap-3.3.6/css/bootstrap.css" rel="stylesheet" />-->
    <!--<link href="./cod-pro-angular/Chapter01/libraries/bootstrap-3.3.6/css/bootstrap-theme.css" rel="stylesheet" />-->

	<link href="bootstrap.css" rel="stylesheet" />
	<link href="bootstrap-theme.css" rel="stylesheet">
	<script src="angular.js"></script>

	<!--here to use angular libraries and cdn -->
	<!--script src="/cod-pro-angular/Chapter01/libraries/angular-1.4.9/angular.js"></script-->
	<script src="controller/controller1.js"></script>

</head>
<body ng-controller="ToDoCtrl">
	<div class="page-header">
	    <h1>{{todo.user}}'s To Do List <span class="label label-default" ng-class="warningLevel()"
											 ng-hide="incompleteCount()==0">{{incompleteCount()}}</span></h1>

        </div>

	<div class ="panel">
		<div class="input-group">
			<input class="form-control" ng-model="actionText"/>
			<span class="input-group-btn">
				<button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
			</span>
		</div>

	<table class="table table-striped">
		<thead>
		   <tr>
			<th>Description</th>
			<th>Done</th>
           </tr>
        </thead>
		<tbody>
			<tr ng-repeat="item in todo.items | ItemsChequeados:showComplete | orderBy:'action' ">
				<td>{{item.action}}</td>
				<td><input type="checkbox" ng-model="item.done" />
				</td>
				<td>{{item.done}}</td>
			</tr>
		</tbody>
	</table>
		<div class="checkbox-inline">
			<label>
				<input type="checkbox" ng-model="showComplete"/> Show Complete
			</label>
		</div>
    </div>
</body>
</html>
